In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/home/sagnik-chandra/MLOps Project/Dataset/Bank-term-deposit.csv")

print(data)

       Age          Job  Marital            Education  Default housing Loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         Contact Month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome empvarrate  conspriceidx  consconfidx  euribor3m  \
0      nonexistent        1.1        93.994        -36.4      4.857
1      nonexistent        1.1        93.994        -36.4      4.857
2      nonexistent        1.1        93.994        -36.4      4.857
3      nonexistent        1.1        93.994        -36.4      4.857
4      nonexistent        1.1        93.994        -36.4      4.857
...            ...        ...           ...          ...        ...
41183  nonexistent       -1.1        94.767        -50.8      1.028
41184  nonexistent       -1.1        94.767        -50.8      1.028
41185  nonexistent       -1.1        94.767        -50.8      1.028
41186  nonexistent       -1.1        94.767        -50.8      1.028
41187      failure       -1.1        94.767        -50.8      1.028

       nremployed    y
0          5191.0   no
1          5191.0   no
2          5191.0   no
3          5191.0   no
4          5191.0   no
...           ...  ...
41183      4963.6  yes
41184      4963.6   no
41185      4963.6   no
41186      4963.6  yes
41187      4963.6   no

[41188 rows x 21 columns]

In [4]:
data.isnull().sum()

# To check for missing data in each feature   
# isnull returns the entire dataframe input itself as it is with True in places where null (missing values) exist and True otherwise

Age             0
Job             0
Marital         0
Education       0
Default         0
housing         0
Loan            0
Contact         0
Month           0
day_of_week     0
duration        0
campaign        0
pdays           0
previous        0
poutcome        0
empvarrate      0
conspriceidx    0
consconfidx     0
euribor3m       0
nremployed      0
y               0
dtype: int64

In [5]:
# Categorical Data Conversion

for i in data:
    print(data[i].value_counts())   # Shows list of unqiue data for each feature

for i in data:
    print(data[i].value_counts())   # Shows the count of each data under a feature

Age
31    1947
32    1846
33    1833
36    1780
35    1759
      ...
91       2
98       2
95       1
87       1
94       1
Name: count, Length: 78, dtype: int64
Job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64
Marital
married     24928
single      11568
divorced     4612
unknown        80
Name: count, dtype: int64
Education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64
Default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
housing
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
Loan
no         33950
yes         6248
unknown      990
Name: count, dtype: int64
Contact
cellular     26144
telephone    15044
Name: count, dtype: int64
Month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64
duration
85      170
90      170
136     168
73      167
124     164
       ...
1356      1
1103      1
1992      1
3183      1
1399      1
Name: count, Length: 1544, dtype: int64
campaign
1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
30        7
31        7
35        5
33        4
32        4
34        3
43        2
40        2
42        2
39        1
56        1
37        1
41        1
Name: count, dtype: int64
pdays
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64
previous
0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
empvarrate
 1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: count, dtype: int64
conspriceidx
93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: count, dtype: int64
consconfidx
-36.4    7763
-42.7    6685
-46.2    5794
-36.1    5175
-41.8    4374
-42.0    3616
-47.1    2458
-31.4     770
-40.8     715
-26.9     447
-30.1     357
-40.3     311
-37.5     303
-50.0     282
-29.8     267
-34.8     264
-38.3     233
-39.8     229
-40.0     212
-49.5     204
-33.6     178
-34.6     174
-33.0     172
-50.8     128
-40.4      67
-45.9      10
Name: count, dtype: int64
euribor3m
4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
         ...
3.816       1
3.428       1
3.329       1
1.045       1
1.047       1
Name: count, Length: 316, dtype: int64
nremployed
5228.1    16234
5099.1     8534
5191.0     7763
5195.8     3683
5076.2     1663
5017.5     1071
4991.6      773
5008.7      650
4963.6      635
5023.5      172
5176.3       10
Name: count, dtype: int64
y
no     36548
yes     4640
Name: count, dtype: int64
Age
31    1947
32    1846
33    1833
36    1780
35    1759
      ...
91       2
98       2
95       1
87       1
94       1
Name: count, Length: 78, dtype: int64
Job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64
Marital
married     24928
single      11568
divorced     4612
unknown        80
Name: count, dtype: int64
Education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64
Default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
housing
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
Loan
no         33950
yes         6248
unknown      990
Name: count, dtype: int64
Contact
cellular     26144
telephone    15044
Name: count, dtype: int64
Month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64
duration
85      170
90      170
136     168
73      167
124     164
       ...
1356      1
1103      1
1992      1
3183      1
1399      1
Name: count, Length: 1544, dtype: int64
campaign
1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
30        7
31        7
35        5
33        4
32        4
34        3
43        2
40        2
42        2
39        1
56        1
37        1
41        1
Name: count, dtype: int64
pdays
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64
previous
0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
empvarrate
 1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: count, dtype: int64
conspriceidx
93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: count, dtype: int64
consconfidx
-36.4    7763
-42.7    6685
-46.2    5794
-36.1    5175
-41.8    4374
-42.0    3616
-47.1    2458
-31.4     770
-40.8     715
-26.9     447
-30.1     357
-40.3     311
-37.5     303
-50.0     282
-29.8     267
-34.8     264
-38.3     233
-39.8     229
-40.0     212
-49.5     204
-33.6     178
-34.6     174
-33.0     172
-50.8     128
-40.4      67
-45.9      10
Name: count, dtype: int64
euribor3m
4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
         ...
3.816       1
3.428       1
3.329       1
1.045       1
1.047       1
Name: count, Length: 316, dtype: int64
nremployed
5228.1    16234
5099.1     8534
5191.0     7763
5195.8     3683
5076.2     1663
5017.5     1071
4991.6      773
5008.7      650
4963.6      635
5023.5      172
5176.3       10
Name: count, dtype: int64
y
no     36548
yes     4640
Name: count, dtype: int64

In [6]:
cat_df = data.select_dtypes(include=['object'])  # Extracts only Categorical data from the Dataset, This method only needs 1 parameter, Include(or Exclude)

for i in cat_df:
    print(cat_df[i].value_counts())

Job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64
Marital
married     24928
single      11568
divorced     4612
unknown        80
Name: count, dtype: int64
Education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64
Default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
housing
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
Loan
no         33950
yes         6248
unknown      990
Name: count, dtype: int64
Contact
cellular     26144
telephone    15044
Name: count, dtype: int64
Month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
y
no     36548
yes     4640
Name: count, dtype: int64

In [7]:
data.columns

Index(['Age', 'Job', 'Marital', 'Education', 'Default', 'housing', 'Loan',
       'Contact', 'Month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'empvarrate', 'conspriceidx', 'consconfidx',
       'euribor3m', 'nremployed', 'y'],
      dtype='object')